#main{
	background-image: url(../images/bg.png);
	height: 1280px;
	width:720px;
}

#input_dice{
	margin-top: 250px;
	margin-right: 100px;
	margin-left: 100px;
	padding-left: 20px;
	height: 130px;
	width: 520px;
	background-color: #06181b;
	border: 4px solid #29aea5;
	border-radius: 5px;
	color: white;
	font-size: 30px;
	font-style: 


}

#result{
	margin-top: 30px;
	margin-right: 100px;
	margin-left: 100px; 
	padding-left: 20px;
	height: 130px;
	width: 520px;
	background-color: #06181b;
	border: 4px solid #29aea5;
	border-radius: 5px;
	color: white;
	font-size: 30px;

}

#success{
	margin-top: 30px;
	margin-right: 100px;
	margin-left: 100px; 
	padding-left: 20px;
	height: 130px;
	width: 520px;
	background-color: #06181b;
	border: 4px solid #29aea5;
	border-radius: 5px;
	color: white;
	font-size: 30px;
}
#roll_button{
	position: relative;
	right: -270px;
	bottom: -150px;
}

#reroll_button{
	position: relative;
	right: 210px;
	bottom: 20px;
}

#r6_off{
	position: relative;
	right: -170px;
	bottom: 0px;
	z-index: 2;
}

#r6_on{
	position: relative;
	right: -170px;
	bottom: 0px;
	z-index: 2;
}

#plus{
	position: relative;
	right: -500px;
	bottom: 670px;
}

#minus{
	position: relative;
	right: -530px;
	bottom: 670px;
}